@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=B612);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'B612', sans-serif;
}

[class*=col-] {
	float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::before,
.row::after {
	content: '';
	display: block;
	clear: both;
}

.row {
	position: relative;
	width: 100%;
}

.container {
    padding: 0;
    position: relative;
    width: 80%;
	margin: 0 auto;
}

header {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.logo {
	display: inline-block;

	h4 {
		color: #FED136;
		display: inline-block;
		font-family: 'Sofia';font-size: 30px;
		font-style: italic;
	}

}

.menu {
	float: right;
	display: inline-block;
	font-size: 15px;
	padding: 20px;

	ul li {
		list-style: none;
		padding: 10px;
		display: inline-block;

		a {
			text-decoration: none;
			color: white;
			font-weight: bold;
		}
	}
}



.jumbotron h3, h2 {
    text-align: center;
    color: white;
	font-size: 50px;
}

.jumbotron h3 {
	font-weight: lighter;
	font-style: italic;
	font-family: 'Sofia';
	font-size: 50px;
	padding: 15px;
}

.jumbotron h2 {
	font-size: 100px;
}

.jumbotron button {
	background-color: #FED136;
	border: none;
	height: 60px;
	width: 200px;
	color: white;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 17px;
}

.services {
	 h1, p {
		text-align: center;
	}

	h1 {
		font-size: 40px;
	}

	p {
		color: #767676;
		font-style: italic;
	}

	& > div {
		text-align: center;
		padding: 40px;

		i {
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			border-radius: 50%;
			font-size: 30px;
			color: #FFD328;
		}

		p {
			font-style: initial;
		}

	}
}

.portfolio {
	background-color: #F7F7F7;
	text-align: center;
	padding: 50px 0;

	p {
		color: #767676;
		font-style: italic;
	}

	.pictures {
		.pic {
			padding: 50px;
		}

		.o {
			display: inline-block;
			width: 350px;
			height: 500px;
			border: none;
			background-color: white;
		}
		img {
			width: 350px;
			height: 400px;
		}
	}

}

.about {
	text-align: center;

	img {
		border-radius: 50%;
		overflow: hidden;
		width: 230px;
		height: 230px;
		border: 7px solid #F7F7F7;
		margin: 0;
	}
}

.team {
	text-align: center;
	background-color: #F7F7F7;
	display: inline-block;
	width: 100%;

	p {
		color: #767676;
		font-style: italic;
	}
}

.workers .col-4 {
	padding: 30px;
}

.workers .photo img {
    width: 230px;
	position: relative;
	height: 230px;
	border: 7px solid white;
	border-radius: 50%;
    overflow: hidden;
	margin: 0;
}

.workers .photo p {
	color: #767676;
	font-style: italic;
}

.sponsors {
	text-align: center;

	img {
		height: 100px;
	}
}

.contact {
	background-image: url(https://www.pixelstalk.net/wp-content/uploads/images1/Black-World-Map-Wallpaper-2.jpg);
	color: white;
	padding: 10px;
	text-align: center;

	h1 {
		font-size: 40px;
	}

	p {
		color: #767676;
		font-style: italic;
	}

	form {
		height: 200px;
		text-align: left;

		.person, .message {
			padding: 10px;

			input, textarea {
				display: block;
				width: 100%;
				padding: 10px;
			}
		}

		.person {
			input {
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.message {
			textarea {
				height: 140px;
			}
		}

		button {
			margin: 0 auto;
			display: block;
		}
	}
}

.social {
	padding: 20px;
	width: 100%;
	align-items: center;
	padding: 0 10px;
	display: flex;
}

.icon-btn {
	height: 40px;
	width: 40px;
	border: 0 #ffffff;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	font-size: 20px;
	transition: 1s;
	color: white;
	background-color: black;
}